@import "bootstrap";

body {
    padding-top: 70px;
    padding-bottom: 60px;
}

.copyright {
    color: #ffffff;
}

.header {
    text-align: center;
}

.tg-nav {
    z-index: 2;
    float: center;
    width: 100%;
    text-align: center;
    font: 400 19px/40px 'Open Sans', Arial, Helvetica, sans-serif;
    background-color: linear-gradient(to bottom right, #581CBE, #F00E96);
}
.tg-navigation > ul {
    width: auto;
    float: none;
    display: inline-block;
    margin: 0 auto;
}


.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    padding-top: 1px;
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}
.sidebar li span{
    position:relative;
    left:-11px;
}
.sidebar ul {
    margin-left: 0;
}
.sidebar a:hover {
    color: #3071a9;
}
.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
}
.well li {
    margin-left: 5px;
    padding-top:0;
    margin-top:0;
    line-height:200%;
}
#sid{
    font-size:1em;
    padding-right:0px;
}

#news {
    padding:0px;
}
.well{
    margin-bottom:0;

}

ol{
    padding-left:20px;
}

#stu{
    margin-left:0.3vw;
    margin-right:0.3vw;
}
#pos{
    margin-left: 0.3vw;
    margin-right:0.3vw;
}
#sup{
    margin-left: 0.3vw;
    margin-right:0.3vw;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}

#und>a {
    color: white;
    text-decoration: none;
}



figcaption {
  text-align: right;
  margin-top: -20px;
  margin-bottom: 20px;
}

.breadcrumb {
  background: none;
  border: none;
  display: block;
  margin-left: 0;
  padding-left: 0;
}

.nopadding-left {
  padding-left: 0 !important;
  margin-left: 0 !important;
}


.nopadding-right {
  padding-right: 0 !important;
  margin-right: 0 !important;
}

.team-member-card {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 68%; /* or 950px */
}


/* Carousel */

.carousel {
  border-radius: 3px 3px 3px 3px;
  margin-bottom: 0px;
  margin-top: 0px;
  overflow:hidden;
  
}
.carousel-inner img {
        width: 100%;
        height: 100%;
        overflow:hidden;
      }
     
.zoomImage{
    width:100%;
    height:0;
    padding-bottom: 45%;
    overflow:hidden;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    border-radius:3px;
    background-color: rgba(0,0,0,0);
    overflow:hidden;
    
}

.layout-content {
	padding-top: 0.0em;
	padding-left: 1.0em;
	padding-right: 1.0em;
    border: none;
    background: white;
    text-align: left;
    vertical-align: top;
}
.instructorphoto img {
    width: 160px;
    height: 160px;
    border-radius: 140px;
    margin-bottom: 10px;
}
.instructor {
    display: inline-block;
    width: 200px;
    text-align: center;
    margin-right: 60px;
    margin-bottom: 20px;
    font-size: 17px;
}
.sec {
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.clear-padding{
    padding:0;
}
.clear-padding-row{
    padding-left:0vw;
    padding-right:0;
}
.clear-padding-col{
    padding-top:0;
    padding-bottom:0px;
}

iframe{
    width:30.5vw;
    height:17.746875vw;
    margin-left:0.07vw;
    margin-right:0.07vw;
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left:auto;margin-right:auto;
}
#res .well{
margin-bottom:10px;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* 定位 */
    position: absolute;
    z-index: 1;
}

.list-group {
    
    margin-bottom:10px;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    padding-left:15px;
    
}
.list-group-item
{
    padding-top:4px;padding-bottom:4px;
}
p{
line-height:150%;
margin-bottom:0;
}
.col-md-3{
padding-right:0;
}
.d-nowrap-flex {
    display: flex;
    flex-wrap: nowrap;
}
.container {
    min-height: 10em;
    display: table-cell;
    vertical-align: middle
}
    
    
@media (max-width: 1279px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
      margin-left:0;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
      margin-left:0;
  }
  .navbar-nav>li {
      float: none;
      
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
  .container-fluid{
      margin-left: auto;
      margin-right:auto;
      max-width: 100%;
  }
  #lis1{
      padding-left: 15px !important;
      padding-right: 15px !important;
  }
  .list-group{padding-left:0;margin-bottom:0px !important;padding-bottom:10px !important;}
  .list-group-item{padding-left:15px;padding-right:15px;}
  #lis2{
      padding-left: 15px !important;
      padding-right: 15px !important;
      padding-top:0px;!important;
  }
  #tea{
      padding-left: 15px !important;
      padding-right: 15px !important;
  }
  #lis1,#lis2,#HKP p{
      margin-bottom:0px;
      padding-bottom:0 !important;
      
  }
  
  .well {
      padding-top:6px !important;
      padding-bottom:6px !important;
  }
  #sup{
      padding-right:0px;margin-right:0vw;
  }

  iframe{
      width: 80vw;
      height:45vw;
      margin-left:auto;
      margin-right:auto;
  }
  #news{
      margin-left:0px;
      margin-right:0px;
      
  }
  .col-md-4,.col-md-3{
  padding-left:8px;
  }
  .col-sm-4{padding-left:0px;padding-right:0px;}
  #Su{
      padding-left: 6px !important;
  }
  


  .collapse.in{
      display:block !important;
  }
  
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;

}
